version: '3'

services:
  db:
    image: mysql:9.1
    volumes:
      - ./db:/docker-entrypoint-initdb.d/:ro
    env_file:
      - .env.local
    ports:
      - "3306:3306"
  web:
    depends_on:
      - db
    build: .
    command: flask run --host=0.0.0.0
    volumes:
      - .:/code
    ports:
      - "5000:5000"
    env_file:
      - .env.local
